/*
    Primary: #28282B;
    Secondary: #E9D19C;
    Accent: #BE1518;
    Letters: #FAFAFA;
*/

.ep-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin: 20px 0;
}
.ep-card {
    background: #FAFAFA;
    border: 1px solid #9f1ae2;
    border-radius: 5px;
    overflow: hidden;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding:5px;
}

.ep-card-image{
    padding:10px;
}
.ep-card:hover {
    transform: translateY(-5px);
}
.ep-card img {
    width: 100%;
    height: auto;
    display: block;
}
.ep-card-content {
    padding: 15px;
}
.ep-card-title {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #9f1ae2;
    text-align: center;    
}
.ep-card-title > a {
    color: #9f1ae2;
    text-decoration: none;
    text-align: center;
}
.ep-card-excerpt {
    font-size: 15px;
    margin-bottom: 15px;
    color: #000000;
}
.ep-card-button {
    background-color: #9f1ae2;
    color: #FAFAFA;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.2s;
    display: block; /* Makes the button a block element */
    margin: 0 auto; /* Centers it within the parent container */
    text-align: center; /* Ensures text inside is centered */
    width: fit-content; /* Adjusts width dynamically */
}
.ep-card-button:hover {
    background-color: #FAFAFA;
    color: #9f1ae2;
    border: 1px solid #9f1ae2;
}